.content {
    display: flex;
    align-items: center;
}

.add {
    background-color: skyblue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.input {
    margin: 0 20px;
    border-radius: 10px;
    height: 35px;
    padding: 10px;
    border: 0;
}

.content {
    display: flex;
    flex: auto;
    justify-content: center;
}

.select {
    height: 35px;
    width: 6 0px;
    padding: 5px;
    border-radius: 10px;
    border: 0;
}

.width {
    width: 240px;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    margin: 20px;
    width: 200px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
